*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
a{
    text-decoration : none;
    color : white;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.icon{
    /* display : none; */
    color :white;
}
.alrt{
    width:100%; 
    
    font-size:0.8vw;
    background: #B8C1EC;
    text-align: center;
    color:#232946;
}
.alrt a{
    color:#232946;
}
.fa-times-circle-o{
    position: relative;
    left:3vw;
}
.navigation{
    width:100%;
    max-height:150px;
    padding:2%;
    background: rgba(35, 41, 70, 1);
    justify-content: space-evenly;
}
.logo{
    width:20%;
    color: white;
    text-align: center;
    font-size:3rem;
}
.navigation-list {
    width:60% ;
    justify-content:space-between;
    list-style:none;
    color:white;

}
.navigation li a{
    color:white;
    text-decoration: none;
}
.searching{
    background:#B8C1EC;
    padding:5px;
}
input[type="search"]{
    height:2rem;
    border:none;
    background: #B8C1EC;
    padding:0.1rem;
}
.navigation-list li button{
   height:2rem; 
   padding:0.5rem;
   border:none;
   background: #B8C1EC;
}
input::-webkit-input-placeholder {
    font-size:0.7rem;
  }
  .user-icon{
      width:2rem;
      height:2rem;
      margin-right:0.5rem;
  }
  .user-icon img{
    clip-path: circle(50% at 50% 50%);
      object-fit: cover;
  }
  i p{
      position: relative;
      bottom:1rem;
      left:1rem;
       size:0.1rem;
  }
  @media (max-width: 600px) {
  section a:not(:first-child) {display: none;}
  section a.icon {
    float: right;
    display: block;
  }
  section.responsive {position: relative;}
  section.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  section.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}